<!-- I think there is a lot of math in this component.html file -->
<ng-container
*ngFor = "let col of grid; let x = index">
    <div class = "top" [ngStyle]="{'margin-left': x*spaceSize+spaceSize/2+'px'}" (click)="dropCoin(x)">↓</div>
    <space
    *ngFor = "let row of col; let y = index"
    (click)="dropCoin(x)"
    [spaceInfo] = "grid[x][y]"
    [ngStyle]="{'margin-left': x*spaceSize+'px','margin-top': y*spaceSize+25+'px'}"
    ></space>
</ng-container>

