space{
    box-sizing: border-box;
    position: fixed;
    cursor: pointer;
    width: 50px;
    height:50px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
}
.top{
    cursor: pointer;
    position: fixed;
}
