grid{
    user-select: none;
    width: 350px;
    height: 350px;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

endgame{
    user-select: none;
    width: 200px;
    height: 200px;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}