#endgame{
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

button{
    cursor: pointer;
}